<h3 class="ml-5">Nova Venda</h3>
<hr style="background-color: steelblue;">
<form class="ml-5 mr-5" action="">
    <div class="row">

        <!--Essa data deve ser disabled e pega automaticamente do servidor ou algo assim-->
        <div class="col-3 form-group required">
            <label for="data">Data</label>
            <input type="text" id="data" name="venda.data" value="" class="data menu form-control" placeholder="Data">
            <span class="datepicker-trigger"><i class="fas fa-calendar-alt float-right datepicker-trigger"></i></span>
        </div>

        <!--Esse select deve mostrar os vendedores cadastrados no sistema-->
        <div class="col-4 form-group required"> 
            <label for="vendedor">Vendedor</label>
            <select id="vendedor" name="venda.vendedor" class="combo select2-hidden-accessible form-control" tabindex="-1" aria-hidden="true" data-select2="true">
                <option value="">[Selecione]</option>
                <option value="FISICA">Física</option>
            </select>
        </div>

        <div class="col-5 form-group required">
            <label for="produtoVendido">Produto Vendido</label>
            <input 
                class="texto form-control required" maxlength="80" 
                name="venda.produtoVendido" id="produtoVendido" type="text">
        </div>

        <!--Mask como dinheiro-->
        <div class="col-2 form-group required">
            <label for="cmv">CMV</label>
            <input 
                class="texto form-control required" maxlength="10" 
                name="venda.cmv" id="cmv" type="text">
        </div>

        <div class="col-3 form-group required">
            <label for="quantidade">Quantidade</label>
            <input 
                class="texto form-control required" maxlength="3" 
                name="venda.quantidade" id="quantidade" type="number">
        </div>

        <!--Mask como dinheiro-->
        <div class="col-4 form-group required">
            <label for="cmvTotal" disabled="disabled">CMV Total</label>
            <input 
                class="texto form-control" maxlength="10" 
                name="venda.cmvTotal" id="cmvTotal" type="text">
        </div>

        <!--Mask como dinheiro-->
        <div class="col-3 form-group required">
            <label for="precoUn">Preço unitário</label>
            <input 
                class="texto form-control" maxlength="10" 
                name="venda.precoUn" id="precoUn" type="text">
        </div>

        <div class="col-2 form-group required">
            <label for="total" disabled="disabled">Total</label>
            <input 
                class="texto form-control" maxlength="10" 
                name="venda.total" id="total" type="text">
        </div>

        <!--Mask como percent-->
        <div class="col-3 form-group required">
            <label for="comissaoAdmCartaoPer">Comissão Adm. Cartão (%)</label>
            <input 
                class="texto form-control" maxlength="9" 
                name="venda.comissaoAdmCartaoPer" id="comissaoAdmCartaoPer" type="text">
        </div>

        <!--Mask como dinheiro-->
        <div class="col-3 form-group required">
            <label for="comissaoUnVendedor">Comissão Un. Vendedor</label>
            <input 
                class="texto form-control" maxlength="9" 
                name="venda.comissaoUnVendedor" id="comissaoUnVendedor" type="text">
        </div>

        <!--Mask como dinheiro-->
        <div class="col-4 form-group required">
            <label for="comissaoTotalVendedor" disabled="disabled">Comissão Total do Vendedor</label>
            <input 
                class="texto form-control" maxlength="9" 
                name="venda.comissaoTotalVendedor" id="comissaoTotalVendedor" type="text">
        </div>

        <div class="col-4 form-group required">
            <label for="comissaoAdmCartao" disabled="disabled">Comissão Adm. Cartão (R$)</label>
            <input 
                class="numero form-control" maxlength="10" 
                name="venda.comissaoAdmCartao" id="comissaoAdmCartao" type="text">
        </div>
        <div class="col-12 form-action submit">
            <button type="submit" class="btn btn-primary float-right" id="btn_realizarVenda">
                Realizar Venda
            </button>
        </div>
</form>
