<h3 class="ml-5">Exclusão de Vendedor</h3>
<hr style="background-color: steelblue;">
<div class="row ml-5 mr-5">
    <div>
        <table>
            <thead>
                <tr>
                    <div class="col"><th>Nome</th></div>
                    <div class="col"><th>CPF</th></div>
                    <div class="col"><th>Telefone</th></div>                                 
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row ml-5 mr-5">
    <div>
        <table id="tableVendedores">
            <tbody id="tbodyVendedores"></tbody>
        </table>
    </div>
</div>